# Docker image tag
IMAGE_TAG=latest

WEB_PORT=8190

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=5432
POSTGRES_DB=scienceplatformdb
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>



# General
# ------------------------------------------------------------------------------
DJANGO_DEBUG=False
DJANGO_LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=dfghjdsajndqwhujJHIDASjdaspJKDSAaASAlidmsao
DJANGO_ALLOWED_HOSTS=scienceplatform.linea.org.br
DJANGO_UWSGI_WORKER_PROCESSES=4
DJANGO_UWSGI_WORKER_THREADS=2

# Databases
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=$REDIS_URL

# Celery /Flower
# ------------------------------------------------------------------------------
CELERY_FLOWER_USER=scienceplatform
CELERY_FLOWER_PASSWORD=<CELERY_FLOWER_PASSWORD>

# ------------------------------------------------------------------------------
# LIneA
# ------------------------------------------------------------------------------
BASE_HOST=https://scienceplatform.linea.org.br
ENVIRONMENT_NAME=production

#SAML2
# ------------------------------------------------------------------------------
# SATOSA PRODUCTION
LINEA_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==
LINEA_REGISTER_URL=https://register.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register.linea.org.br/registry/co_petitions/start/coef:155&entityID=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==

RUBIN_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQv&next=/
RUBIN_REGISTER_URL=https://register.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register.linea.org.br/registry/co_petitions/start/coef:189&entityID=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQv
