# Docker image tag
IMAGE_TAG=latest

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=lsp_landing_page
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>

# General
# ------------------------------------------------------------------------------
BASE_HOST=https://scienceplatform-dev.linea.org.br
DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=<django_secret_key>
DJANGO_ALLOWED_HOSTS=scienceplatform-dev.linea.org.br
DJANGO_UWSGI_WORKER_PROCESSES=4
DJANGO_UWSGI_WORKER_THREADS=2
# Databases
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=$REDIS_URL

# Celery /Flower
# ------------------------------------------------------------------------------
CELERY_FLOWER_USER=<celery_flower_user>
CELERY_FLOWER_PASSWORD=<celery_flower_password>